WebContent/wsdl/TheAction.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://api.the" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://api.the" xmlns:intf="http://api.the" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://api.the" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="register">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerResponse">
    <complexType>
     <sequence>
      <element name="registerReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="doIt">
    <complexType/>
   </element>
   <element name="doItResponse">
    <complexType>
     <sequence>
      <element name="doItReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkLogin">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkLoginResponse">
    <complexType>
     <sequence>
      <element name="checkLoginReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="checkLoginResponse">

      <wsdl:part element="impl:checkLoginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="doItResponse">

      <wsdl:part element="impl:doItResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="doItRequest">

      <wsdl:part element="impl:doIt" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkLoginRequest">

      <wsdl:part element="impl:checkLogin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerRequest">

      <wsdl:part element="impl:register" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerResponse">

      <wsdl:part element="impl:registerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TheAction">

      <wsdl:operation name="register">

         <wsdl:input message="impl:registerRequest" name="registerRequest">

       </wsdl:input>

         <wsdl:output message="impl:registerResponse" name="registerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="doIt">

         <wsdl:input message="impl:doItRequest" name="doItRequest">

       </wsdl:input>

         <wsdl:output message="impl:doItResponse" name="doItResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkLogin">

         <wsdl:input message="impl:checkLoginRequest" name="checkLoginRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkLoginResponse" name="checkLoginResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TheActionSoapBinding" type="impl:TheAction">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="register">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="doIt">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="doItRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="doItResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="checkLogin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkLoginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkLoginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TheActionService">

      <wsdl:port binding="impl:TheActionSoapBinding" name="TheAction">

         <wsdlsoap:address location="http://localhost:8080/DereksSoap/services/TheAction"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
